{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to the home page</h1>
                <p>This is the home page of the app</p>
            </div>
        </div>
    </div>
{{end}}